# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\OS\xv6-riscv\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
